{% extends 'base.html' %}

{% block body %}
    <table>
        <tr>
            <th>customer_id</th>
            <th>name</th>
            <th>address</th>
            <th>email</th>
        </tr>
        {% for client in customer %}
        <tr>
            <td>{{ client['customer_id'] }}</td>
            <td>{{ client['name'] }}</td>
            <td>{{ client['address'] }}</td>
            <td>{{ client['email'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}